{% extends "hillspeech_base.html" %}

{% block head %}
    {{ super() }}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>

    {{ script|safe }}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 my-4">
                    {{ div | safe }}
            </div>
            <div class="col-md-5 offset-md-1">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Score: {{preview[0][0]}}</h5>
                <div class="card-body">
                    "{{preview[0][2][:100]}}..."
                </div>
            </div>
            <div class="card my-4">
                <h5 class="card-header">Score: {{preview[1][0]}}</h5>
                <div class="card-body">
                    "{{preview[1][2][:100]}}..."
                </div>
            </div>
            <div class="card my-4">
                <h5 class="card-header">Score: {{preview[2][0]}}</h5>
                <div class="card-body">
                    "{{preview[2][2][:100]}}..."
                </div>
            </div>

        </div>
            </div>
        </div>
    </div>

{% endblock %}

