[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
gensim = "*"
pymongo = "*"
jupyter = "*"
bokeh = "*"
flask-wtf = "*"
pyldavis = "*"

[dev-packages]

[requires]
python_version = "3.7"
